<div class="menu-container js-menu-container" id="mobile-menu">
      <div class="mobile-burger-header">
        <div class="burger-vector-icon">
          <svg class="burger-vector" width="16" height="16">
            <use href="../img/mobileburger/symbol-defs.svg#icon-Vectori"></use>
          </svg>
          <p class="mobile-header-text">fresh harvest box</p>
        </div>
        <button class="js-close-menu" type="button">
          <svg class="modal-icon" width="24" height="24">
          <use href="../img/mobileburger/symbol-defs.svg#icon-burgerx"></use>
        </button>
        </svg>
      </div>

      <ul class="mobile-menu list">
        <li>
          <a href="./index.html" class="mobile-menu-items current link"
            >How It Works</a
          >
        </li>
        <li>
          <a href="" class="mobile-menu-items link">Fruits</a>
        </li>
        <li>
          <a href="" class="mobile-menu-items link">Contacts</a>
        </li>
        <li class="socials-item">
          <a
            class="social-link link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Basket icon"
          > 
            <svg class="socials-icon" width="28" height="28">
              <use href="../img/mobileburger/symbol-defs.svg#icon-uilcart"></use>
            </svg>
          </a>
        </li>
      </ul>