<section class="contacts section" id="contacts">
    <div class="container contacts-m">

        <h3 class="contacts-title"> Fresh Harvest Box has got you covered</h3>
        <ul class="contacts-fruit-list list">
            <li class="contacts-fruit-item">
                <picture class="contacts-fruit-img">
                    <!-- Desktop screen -->

                    <source media="(min-width: 1280px)" srcset="
                      ./img/ContactsFruit/Melon-desk-1x.jpg 1x,
                     ./img/ContactsFruit/Melon-desk-2x.jpg 2x
                    " type="image/jpg" />
                    <!-- Tablet screen -->
                    <source media="(min-width: 768px)" srcset="
                        ./img/ContactsFruit/Melon-tabl-1x.jpg 1x,
                     ./img/ContactsFruit/Melon-tabl-2x.jpg 2x
                    " type="image/jpg" width="344" height="480" />
                    <!-- Phone screen -->

                    <source media="(max-width: 767px)" srcset="
                      ./img/ContactsFruit/Melon-mob-1x.jpg 1x,
                     ./img/ContactsFruit/Melon-mob-2x.jpg 2x
                    " type="image/jpg" width="335" height="476" />
                    <img src="./img/ContactsFruit/Melon-desk-1x.jpg" alt="Melon" width="792" height="502" loading="lazy"
                        class="contacts-fruit-img" />
                </picture>


            </li>

            <li class="contacts-fruit-item blub-item">
                <picture class="contacts-fruit-img">
                    <!-- Desktop screen -->

                    <source media="(min-width: 1280px)" srcset="
                                      ./img/ContactsFruit/Blueberry-desk-1x.jpg 1x,
                                     ./img/ContactsFruit/Blueberry-desk-2x.jpg 2x
                                    " type="image/jpg" />
                    <!-- Tablet screen -->

                    <source media="(min-width: 768px)" srcset="
                                        ./img/ContactsFruit/Blueberry-tabl-1x.jpg 1x,
                                     ./img/ContactsFruit/Blueberry-tabl-2x.jpg 2x
                                    " type="image/jpg" width="344" height="480" />
                    <!-- Phone screen -->

                    <source media="(max-width: 767px)" srcset="
                                      ./img/ContactsFruit/Blueberry-mob-1x.jpg 1x,
                                     ./img/ContactsFruit/Blueberry-mob-2x.jpg 2x
                                    " type="image/jpg" />
                    <img src="./img/ContactsFruit/Blueberry-desk-1x.jpg" alt="Melon" width="400" height="502"
                        loading="lazy" class="contacts-fruit-img" />
                </picture>
            </li>
        </ul>

        <p class="contacts-paragraph">Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for
            anyone looking to eat
            healthier or
            support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>

        <form class="contact-sub-form">
            <label class="contact-field">

                <input type="email" name="user-email" placeholder="Enter email..."
                    pattern="^[\w.-]+@[a-zA-Z_-]+?(?:\.[a-zA-Z]{2,6})+$" required class="contacts-email">
            </label>

            <button type="submit" class="contacts-sub-btn js-open-modal" data-modal="2">Send</button>

        </form>


    </div>


</section>