<footer class="footer-container">
    <div class="container-first">

        <div class="footer-img">
            <img class="list" srcset="../img/footer-img/image1.jpg
                         ../img/footer-img/image@2x.jpg" 
            src="../img/footer-img/image1.jpg" alt="photo">

        </div>
        <div class="container-vector-header">
            <div class="container-vector-svg">
                <svg wight="16" height="16">
                    <use href="../img/footer-img/symbol-defs.svg#icon-vector"></use>
                </svg>
            </div>
            <h4 class="footer-header">fresh harvest box</h4>

        </div>
        <div class="footer-contacts-container">
    
            <ul class="footer-contacts list">
                <li class="list footer-item"><a class="list" href="">How It Works</a></li>
                <li class="list footer-item"><a class="list" href="">Fruits</a></li>
                <li class="list footer-item"><a class="list" href="">Contacts</a></li>
            </ul>
        </div>
        <div>
    
            <ul class="footer-social">
                
               <li class="footer-social-svg list">
                <a class="list" href="" target="_blank" rel="noopener referrer">
                <svg weight="24" height="24">
                    <use href="../img/footer-img/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </a>
           </li>
           <li class="list">
            <a class="list" href="" target="_blank" rel="noopener referrer">
            <svg weight="24" height="24">
                <use href="../img/footer-img/symbol-defs.svg#icon-instagram"></use>
            </svg>
        </a>
        </li>
        <li class="list">
            <a class="list" href="" target="_blank" rel="noopener referrer">
               <svg weight="24" height="24">
                <use href="../img/footer-img/symbol-defs.svg#icon-youtube"></use>
            </svg>
        </a>
        </li>
               
            </ul>
        </div>
        <div>
    
            <ul class="address">
                <li class="list"><a class="list" href="tel:+380684439426">+380 (68) 443-94-26</a></li>
                <li class="list"><a class="list" href="">1678 S. Pioneer Road <br> Salt Lake City UT <br>
                    84104</a></li>
            </ul>
        </div>
    </div>

    <p>rhfuhreghjthj</p>
</footer>