<footer>
    <div>
        <img srcset="./img/footer-img/image1.jpg
                     ./img/footer-img/image@2x.jpg" 
        src="./img/footer-img/image1.jpg" alt="photo">
    </div>
    <div>
        <svg>
            <use href="./img/footer-img/symbol-defs.svg#icon-vector"></use>
        </svg>
    </div>
    <h4>fresh harvest box</h4>
    <ul>
        <li><a href="">How It Works</a></li>
        <li><a href="">Fruits</a></li>
        <li><a href="">Contacts</a></li>
    </ul>
    <ul>
        <li><a href="" target="_blank" rel="noopener referrer">
            <svg>
                <use href="./img/footer-img/symbol-defs.svg#icon-instagram"></use>
            </svg>
        </a>
       </li>
       <li><a href="" target="_blank" rel="noopener referrer">
        <svg>
            <use href="./img/footer-img/symbol-defs.svg#icon-instagram"></use>
        </svg>
    </a>
   </li>
   <li><a href="" target="_blank" rel="noopener referrer">
    <svg>
        <use href="./img/footer-img/symbol-defs.svg#icon-instagram"></use>
    </svg>
</a>
</li>
       
    </ul>
</footer>