<!--<footer class="footer-container-organic">
    
    <div class="container-firsts">
        <div class="container-two">

</div>
<div class="container-vector">
    <div class="container-icon-vector">
        <svg wight="16" height="16">
            <use href="../img/footer-img/symbol-defs.svg#icon-vector"></use>
        </svg>
    </div>
    <h4 class="footer-title">fresh harvest box</h4>

</div>
<div class="footer-about-contacts">

    <ul class="footer-contacts-list list">
        <li class="list footer-list-item"><a class="list" href="">How It Works</a></li>
        <li class="list footer-list-item"><a class="list" href="">Fruits</a></li>
        <li class="list footer-list-item"><a class="list" href="">Contacts</a></li>
    </ul>
</div>
<div class="container-footer-social">

    <ul class="footer-social-list">
        
       <li class="footer-social-svg list">
        <a class="footer-item list" href="" target="_blank" rel="noopener referrer">
        <svg weight="24" height="24">
            <use href="../img/footer-img/symbol-defs.svg#icon-facebook"></use>
        </svg>
    </a>
   </li>
   <li class="footer-social-svg list">
    <a class="footer-item list" href="" target="_blank" rel="noopener referrer">
    <svg weight="24" height="24">
        <use href="../img/footer-img/symbol-defs.svg#icon-instagram"></use>
    </svg>
</a>
</li>
<li class="footer-social-svg list">
    <a class="footer-item list" href="" target="_blank" rel="noopener referrer">
       <svg weight="24" height="24">
        <use href="../img/footer-img/symbol-defs.svg#icon-youtube"></use>
    </svg>
</a>
</li>
       
    </ul>
</div>
<div class="address-container-contacts">

</div>
</div>

</footer>-->

