<section class="fruits-section" id="fruits">
  <div class="container">
    <h2 class="fruits-title">organic fruits</h2>
    <p class="fruits-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <ul class="fruits-list list">
      <li class="fruits-item">
        <h3 class="fruits-list-title">Strawberry</h3>
        <p class="fruits-list-subtitle">Plant</p>
        <img
          srcset="
            ./img/organic-fruits/organic-fruits1.png     1x,
            ./img/organic-fruits/organic-fruits1_@2x.png 2x
          "
          src="./img/organic-fruits/organic-fruits1.png"
          alt="strawberry"
          width="295"
        />
        <div class="img-boxshadow"></div>
        <p class="fruits-list-price">100 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-list-title">Banana</h3>
        <p class="fruits-list-subtitle">Plant</p>
        <img
          srcset="
            ./img/organic-fruits/organic-fruits2.png     1x,
            ./img/organic-fruits/organic-fruits2_@2x.png 2x
          "
          src="./img/organic-fruits/organic-fruits2.png"
          alt="banana"
          width="295"
          height="251"
        />
        <div class="img-boxshadow"></div>
        <p class="fruits-list-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-list-title">Watermelon</h3>
        <p class="fruits-list-subtitle">Plant</p>
        <img
          srcset="
            ./img/organic-fruits/organic-fruits3.png     1x,
            ./img/organic-fruits/organic-fruits3_@2x.png 2x
          "
          src="./img/organic-fruits/organic-fruits3.png"
          alt="watermelon"
          width="295"
          height="251"
        />
        <div class="img-boxshadow"></div>
        <p class="fruits-list-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-list-title">Lime</h3>
        <p class="fruits-list-subtitle">Plant</p>
        <img
          srcset="
            ./img/organic-fruits/organic-fruits4.png     1x,
            ./img/organic-fruits/organic-fruits4_@2x.png 2x
          "
          src="./img/organic-fruits/organic-fruits4.png"
          alt="lime"
          width="295"
          height="251"
        />
        <div class="img-boxshadow"></div>
        <p class="fruits-list-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-list-title">Apple</h3>
        <p class="fruits-list-subtitle">Plant</p>
        <img
          srcset="
            ./img/organic-fruits/organic-fruits5.png     1x,
            ./img/organic-fruits/organic-fruits5_@2x.png 2x
          "
          src="./img/organic-fruits/organic-fruits5.png"
          alt="apple"
          width="295"
          height="251"
        />
        <div class="img-boxshadow"></div>
        <p class="fruits-list-price">50 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-list-title">Peach</h3>
        <p class="fruits-list-subtitle">Plant</p>
        <img
          srcset="
            ./img/organic-fruits/organic-fruits6.png     1x,
            ./img/organic-fruits/organic-fruits6_@2x.png 2x
          "
          src="./img/organic-fruits/organic-fruits6.png"
          alt="peach"
          width="295"
          height="251"
        />
        <div class="img-boxshadow"></div>
        <p class="fruits-list-price">80 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-list-title">Plums</h3>
        <p class="fruits-list-subtitle">Plant</p>
        <img
          srcset="
            ./img/organic-fruits/organic-fruits7.png     1x,
            ./img/organic-fruits/organic-fruits7_@2x.png 2x
          "
          src="./img/organic-fruits/organic-fruits7.png"
          alt="plums"
          width="295"
          height="251"
        />
        <div class="img-boxshadow"></div>
        <p class="fruits-list-price">40 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-list-title">Orange</h3>
        <p class="fruits-list-subtitle">Plant</p>
        <img
          srcset="
            ./img/organic-fruits/organic-fruits8.png     1x,
            ./img/organic-fruits/organic-fruits8_@2x.png 2x
          "
          src="./img/organic-fruits/organic-fruits8.png"
          alt="orange"
          width="295"
          height="251"
        />
        <div class="img-boxshadow"></div>
        <p class="fruits-list-price">60 UAH / kg</p>
      </li>
      <li class="fruits-item">
        <h3 class="fruits-list-title">Kiwi</h3>
        <p class="fruits-list-subtitle">Plant</p>
        <img
          srcset="
            ./img/organic-fruits/organic-fruits9.png     1x,
            ./img/organic-fruits/organic-fruits9_@2x.png 2x
          "
          src="./img/organic-fruits/organic-fruits9.png"
          alt="kiwi"
          width="295"
          height="251"
        />
        <div class="img-boxshadow"></div>
        <p class="fruits-list-price">90 UAH / kg</p>
      </li>
    </ul>
    <button class="fruits-order-button" data-modal-open type="button">
      <svg class="fruits-order-button-icon" width="14" height="14">
        <use href="./img/organic-fruits/icon/symbol-defs.svg#down-arrow"></use>
      </svg>
      <span class="fruits-order-text-wrapper">order</span>
    </button>
  </div>
</section>
