<!-- 
##################################
    Section hero
##################################
 -->

<section class="hero">
  <div class="hero-container container">
    <img
      class="hero-img"
      src="./img/hero-img/main_m836px@1x.webp"
      alt="young energetic woman"
      srcset="
        ./img/hero-img/main_m836px@1x.webp 836w,
        ./img/hero-img/main_m1672px@2x.webp 1672w,
        ./img/hero-img/main1_1053px@1x.webp 1053w,
        ./img/hero-img/main1_2106px@2x.webp 2106w
      "
      sizes="(min-width: 1280px) 452px,(min-width: 768px) 452px,(min-width: 375px) 335px, 100vw"
    />
    <h1 class="hero-title">
      fresh harvest box is your 0ne-stop place for a delicious fruit basket
    </h1>
    <h2 class="visually-hidden" hidden>Lorem ipsum dolor sit amet.</h2>
    
    <div>
      <img
        class="banana-img"
        src="./img/hero-img/imagem66@1x.webp"
        alt="bananas"
        srcset="
          ./img/hero-img/imagem66@1x.webp     66w,
          ./img/hero-img/imagem132@2x.webp   132w,
          ./img/hero-img/image_t-132@1x.webp 132w,
          ./img/hero-img/image_t-264@2x.webp 264w,
          ./img/hero-img/image_d-183@1x.webp 183w,
          ./img/hero-img/image_d-366@2x.webp 366w
        "
        sizes="(min-width: 1280px) 183px,(min-width: 768px) 132px,(min-width: 375px) 66px, 100vw"
      />

      <img
        class="strawberry-img"
        src="./img/hero-img/imagem56@1x.webp"
        alt="strawberry"
        srcset="
          ./img/hero-img/imagem56@1x.webp     56w,
          ./img/hero-img/imagem112@2x.webp   112w,
          ./img/hero-img/image_t-108@1x.webp 108w,
          ./img/hero-img/image_t-216@2x.webp 216w,
          ./img/hero-img/image_d-120@1x.webp 120w,
          ./img/hero-img/image_d-240@2x.webp 240w
        "
        sizes="(min-width: 1280px) 120px,(min-width: 768px) 108px,(min-width: 375px) 56px, 100vw"
      />
      <button class="hero-btn" type="button">
        <span class="btn-text">shop now</span>
      </button>
     

      <ul class="hero-list list">

        <li class="hero-item">
             <p class="hero-text">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>
    </li>
        <li class="hero-item">
            <div class="fruit-container green">
        <h3 class="fruit-container-title">Fruit</h3>
        <div class="fruit-box">
          <img
            srcset="
              ./img/hero-img/watermelon_200@1x.webp 200w,
              ./img/hero-img/watermelon_400@2x.webp 400w
            "
            sizes="200px"
            src="./img/hero-img/watermelon_200@1x.webp"
            alt="watermelon"
            width="200"
            height="172"
          />
          <p class="fruit-container-text">
            Refreshing and juicy, watermelon is the perfect summer treat and a
            great source of hydration
          </p>
        </div>
      </div>
    </li>
        <li class="hero-item">
             <ul class="product-titel list">
              <li class="product-item">&num;organic</li>
              <li class="product-item">&num;products</li>
              <li class="product-item">&num;basket</li>
              <li class="product-item">&num;fruits</li>
            </ul>
        </li>
        <li class="hero-item">
            <div class="fruit-container yellow">
        <h3 class="fruit-container-title">Fruit</h3>
        <div class="fruit-box">
          <img
            srcset="
          ./img/hero-img/strawberry_162@1x.webp 162w
          ./img/hero-img/strawberry_324@2x.webp 324w"
            src="./img/hero-img/strawberry_162@1x.webp"
            sizes="162px"
            alt="strawberries"
            width="162"
            height="185"
          />
          <p class="fruit-container-text">
            Sweet and juicy, strawberries are packed with vitamin C and
            antioxidants, making them a delicious and healthy snack
          </p>
        </div>
    </li>
      </ul>
     
      
      
      </div>
    </div>
  </div>
</section>
<!-- 
##################################
   and of Section hero
##################################
 -->