<!-- 
##################################
    Section hero
##################################
 -->

<section class="hero">
  <div class="hero-container container">
    <img
      class="hero-img"
      src="./img/hero-img/main1_452px@1x.webp"
      alt="young energetic woman"
      srcset="
        ./img/hero-img/main_m311px@1x.webp 311w,
        ./img/hero-img/main_m622px@2x.webp 622w,
        ./img/hero-img/main1_452px@1x.webp 452w,
        ./img/hero-img/main1_904px@2x.webp 904w
      "
      sizes="(min-width: 1280px) 452px,(min-width: 768px) 452px,(min-width: 375px) 311px, 100vw"
    />

    <h1 class="hero-title hero-title-d-t">
      fresh harvest box <br />is your 0ne-stop place for<br />a delicious fruit
      basket
    </h1>

    <h1 class="hero-title hero-title-m">
      fresh harvest box <br />is your 0ne-stop place<br />
      for a delicious fruit<br />
      basket
    </h1>

    <h2 class="visually-hidden" hidden>Lorem ipsum dolor sit amet.</h2>
    <img
      class="banana-img"
      src="./img/hero-img/banana_86x72@1x.webp"
      alt="bananas"
      srcset="
        ./img/hero-img/banana_m_86x72@1x.webp    320w,
        ./img/hero-img/banana_m_171x144@2x.webp  320w,
        ./img/hero-img/banana_t_170x144@1x.webp  768w,
        ./img/hero-img/banana_t_339x288@2x.webp  768w,
        ./img/hero-img/banana_d_229x194@1x.webp 1200w,
        ./img/hero-img/banana_d_458x388@2x.webp 1200w
      "
    />

    <img
      class="strawberry-img"
      src="./img/hero-img/strawberry_m_64x64@1x.webp"
      alt="strawberry"
      srcset="
        ./img/hero-img/strawberry_m_64x64@1x.webp    320w,
        ./img/hero-img/strawberry_m_128x128@2x.webp  320w,
        ./img/hero-img/strawberry_t_124x124@1x.webp  768w,
        ./img/hero-img/strawberry_t_248x248@2x.webp  768w,
        ./img/hero-img/strawberry_d_136x136@1x.webp 1200w,
        ./img/hero-img/strawberry_d_272x272@2x.webp 1200w
      "
    />
    <a class="link" href="#organic-fruit">
      <button class="hero-btn" type="button">
        <span class="btn-text">shop now</span>
      </button>
    </a>

    <!-- 
##################################
  fruit part
##################################
 -->
    <div class="description-box">
      <p class="hero-text">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>

      <div class="fruit-container green">
        <h3 class="fruit-container-title">Fruit</h3>
        <div class="fruit-box">
          <img
            class="fruit-picture-green"
            srcset="
              ../img/hero-img/watermelon_200@1x.webp 200w,
              ../img/hero-img/watermelon_400@2x.webp 400w
            "
            sizes="200px"
            src="../img/Hero_1/watermelon_200@1x.webp"
            alt="watermelon"
            width="200"
            height="172"
          />
          <div class="fruit-shadow"></div>
        </div>
        <p class="fruit-text">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>

      <div class="hero-item-yellow">
        <ul class="titles-fruits list">
          <li class="product-item">&num;organic</li>
          <li class="product-item">&num;products</li>
          <li class="product-item">&num;basket</li>
          <li class="product-item">&num;fruits</li>
        </ul>
      </div>
      <div class="fruit-container yellow">
        <h3 class="fruit-strawberry-title">Fruit</h3>
        <div class="fruit-box">
          <img
            class="fruit-picture-yellow"
            srcset="
            ../img/hero-img/strawberry_162@1x.webp 162w
            ../img/hero-img/strawberry_324@2x.webp 324w"
            sizes="162px"
            src="../img/hero-img/strawberry_162@1x.webp"
            width="162"
            alt="strawberries"
            height="185"
          />
          <div class="fruit-shadow-basket"></div>
          <p class="fruit-text">
            Sweet and juicy, strawberries are packed with vitamin C and
            antioxidants, making them a delicious and healthy snack
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
##################################
   and of Section hero
##################################
 -->
