<!-- 
##################################
    Section hero
##################################
 -->

<section class="hero">
  <div class="hero-container container">
    <div class="hero-main">

      <button class="hero-btn" type="button">
        <span class="btn-text">shop now</span>
      </button>
    </div>
    <h1 class="hero-title">
      fresh harvest box<br />
      is your 0ne-stop place for a delicious fruit basket
    </h1>
    <h2 class="visually-hidden" hidden>Lorem ipsum dolor sit amet.</h2>

    <div>
      <img
        class="banana-img"
        src="../img/Hero_1/imagem66@1x.webp"
        alt="bananas"
        srcset="
          ../img/Hero_1/imagem66@1x.webp     66w,
          ../img/Hero_1/imagem132@2x.webp   132w,
          ../img/Hero_1/image_t-132@1x.webp 132w,
          ../img/Hero_1/image_t-264@2x.webp 264w,
          ../img/Hero_1/image_d-183@1x.webp 183w,
          ../img/Hero_1/image_d-366@2x.webp 366w
        "
        sizes="(min-width: 1280px) 183px,(min-width: 768px) 132px,(min-width: 375px) 66px, 100vw"
      />

      <img
        class="strawberry-img"
        src="../img/Hero_1/imagem56@1x.webp"
        alt="strawberry"
        srcset="
          ../img/Hero_1/imagem56@1x.webp     56w,
          ../img/Hero_1/imagem112@2x.webp   112w,
          ../img/Hero_1/image_t-108@1x.webp 108w,
          ../img/Hero_1/image_t-216@2x.webp 216w,
          ../img/Hero_1/image_d-120@1x.webp 120w,
          ../img/Hero_1/image_d-240@2x.webp 240w
        "
        sizes="(min-width: 1280px) 120px,(min-width: 768px) 108px,(min-width: 375px) 56px, 100vw"
      />

      <!-- Fruit box -->

      <div class="hero-list">
        <div class="hero-item">
          <p class="hero-text">
            Our expertly curated fruit baskets are made with the freshest,
            highest quality fruits available. Whether you are looking for a
            healthy snack or a gift for a loved one, Fresh Harvest Box has got
            you covered.
          </p>

          <div class="fruit-container green">
            <h3 class="fruit-container-title">Fruit</h3>
            <div class="fruit-box">
              <img
                class="fruit-picture-green"
                srcset="
                  ../img/Hero_1/watermelon_200@1x.webp 200w,
                  ../img/Hero_1/watermelon_400@2x.webp 400w
                "
                sizes="200px"
                src="../img/Hero_1/watermelon_200@1x.webp"
                alt="watermelon"
                width="200"
                height="172"
              />
              <div class="image-boxshadow"></div>
              <p class="fruit-container-text">
                Refreshing and juicy, watermelon is the perfect summer treat and
                a great source of hydration
              </p>
            </div>
          </div>
        </div>

        <div class="hero-item-yellow">
          <ul class="product-titel list">
            <li class="product-item">&num;organic</li>
            <li class="product-item">&num;products</li>
            <li class="product-item">&num;basket</li>
            <li class="product-item">&num;fruits</li>
          </ul>
          <div class="fruit-container yellow">
            <h3 class="fruit-container-title">Fruit</h3>
            <div class="fruit-box">
              <img
                class="fruit-picture-yellow"
                srcset="
                           ../img/Hero_1/strawberry_162@1x.webp 162w
                           ../img/Hero_1/strawberry_324@2x.webp 324w"
                src="../img/Hero_1/strawberry_162@1x.webp"
                sizes="162px"
                alt="strawberries"
                width="162"
                height="185"
              />
              <div class="image-boxshadow-basket"></div>
              <p class="fruit-container-text">
                Sweet and juicy, strawberries are packed with vitamin C and
                antioxidants, making them a delicious and healthy snack
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
##################################
   and of Section hero
##################################
 -->
