<section class="container how-section">
    <div class="title-position">
        <h3 class="how-title">To order your fruit basket, simply follow these easy steps</h3>
        <p class="how-text">Our baskets are assembled with care and delivered straight to your doorstep, so you can
            enjoy the taste of fresh fruit
            without ever leaving your home. Whether you're looking for a healthy snack or a thoughtful gift, our
            fruit
            baskets are
            the perfect choice.</p>
    </div>
    <div class="how-cards">
        <ul class="list how-cards-list">
            <li class="how-card">
                <div class="first-step step">FIrst Step</div>
                <p class="how-card-text">Just choose the fruit you want to order by clicking on the checkboxes next
                    to
                    it.</p>
            </li>
            <li class="how-card">
                <div class="second-step step">Second Step</div>
                <p class="how-card-text">Click on the basket and fill out the form.</p>
            </li>

            <li class="how-card">
                <div class="third-step step">Third Step</div>
                <p class="how-card-text">Sit back and relax! Your fresh fruit basket will be delivered.</p>
            </li>
        </ul>
    </div>

    <picture class="">
        <img class="how-gif" src="../img/gif-fruits/mobgifimage.gif" alt="fruits gif" />
    </picture>
</section>