<div class="backdrop is-hiddennew" data-modalnew>
  <div class="modal">
    <button class="modal-thank-close" data-modal-closenew type="button">
      <svg class="modal-thank-close-icon" width="14" height="14">
        <use href="./img/footer-img/symbol-defs.svg#icon-x"></use>
      </svg>
    </button>
    <img srcset="
            ./img/organic-fruits/malina-1x.png  1x,
            ./img/organic-fruits/malina-2x.png  2x
          " src="./img/organic-fruits/malina-1x.png" alt="raspberry-organic" width="278" height="239" loading="lazy"
      class="modal-thank-img" />

    <h3 class="modal-thank-title">THANK YOU</h3>
    <p class="modal-thank-text">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you with
      the best possible experience!
    </p>
  </div>
</div>
