<div class="modal overlay js-overlay-modal" data-modal="2">

  <button class="modal-thank-close js-close-modal" type="button">
    <svg class="modal-thank-close-icon" width="14" height="14">
      <use href="../img/footer-img/symbol-defs.svg#icon-x"></use>
    </svg>
  </button>
  <picture>
    <!-- Desktop and tablet screen -->

    <source media="(min-width: 768px)" srcset="./img/Modalthankyou/raspberry-desk@1X.png 1x,
                       ./img/Modalthankyou/raspberry-desk@2X.png 2x
                      " type="image/png" />
    <!-- Phone screen -->

    <source media="(max-width: 767px)" srcset="
                        ./img/Modalthankyou/raspberry-mob@1X.png 1x,
                      ./img/Modalthankyou/raspberry-mob@2X.png 2x
                      " type="image/png" width="207" height="176" />
    <img src="./img/Modalthankyou/raspberry-desk@1X.png" alt="raspberry" width="278" height="239" loading="lazy"
      class="modal-thank-img" />
  </picture>
  <h3 class="modal-thank-title">THANK YOU</h3>
  <p class="modal-thank-text">
    Thank you for your order! Our team is preparing your box with fresh,
    delicious fruits and vegetables, and we'll deliver it straight to your
    doorstep. We appreciate your business and look forward to providing you with
    the best possible experience!
  </p>

</div>