<div class="modal-thank">
  <button class="modal-thank-close" type="button">
    <svg class="modal-thank-close-icon"><use href="" width="" height="" /></svg>
  </button>
  <picture>
    <source srcset="./" media="(min-width: 1280px)" />
    <source srcset="./" media="(min-width: 375px) and (max-width: 768px)" />
    <source srcset="./" media="(max-width: 375px)" />
    <img alt="three raspberry" />
  </picture>
  <h3 class="modal-thank-title">tHANK YOU</h3>
  <p class="modal-thank-text">
    Thank you for your order! Our team is preparing your box with fresh,
    delicious fruits and vegetables, and we'll deliver it straight to your
    doorstep. We appreciate your business and look forward to providing you with
    the best possible experience!
  </p>
</div>
