<!-- MODAL WINDOW -->
      <div class="backdrop is-hidden" data-modal>
        <div class="modal">
          <button class="modal-button" type="button" data-modal-close>
            <svg class="modal-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-close"></use>
            </svg>
          </button>
        <h2 class="modal-title">Your Order</h2>
          <form name="order-form">

            <label class="modal-check check-strawberry">
              <h3 class="modal-fruits-title">Strawberry Basket</h3>
              <p class="modal-under-title">Plant</p>
              <img 
              srcset="./img/modal-fruits/strawberry-basket_mobile.jpg 1x,
              ./img/modal-fruits/strawberry-basket_mobile@2x.jpg 2x" 
              src="./img/modal-fruits/strawberry-basket_mobile.jpg"              
              alt="strawberry">
              <input 
              type="checkbox"
              class="modal-form-choice"
              name="user_choice"
              >
            </label>


            <label class="modal-check check-apple">
              <h3 class="modal-fruits-title">Apple Basket</h3>
              <p class="modal-under-title">Plant</p>
              <img
              srcset="./img/modal-fruits/fruits-bag_mobile.jpg 1x,
              ./img/modal-fruits/fruits-bag_mobile@2x.jpg 2x" 
              src="./img/modal-fruits/fruits-bag_mobile.jpg"
              alt="apple"               
              >
              <input type="checkbox"
              class="modal-form-choice"
              name="user_choice"
              >
            </label>

            
            <label class="modal-check check-fruits-basket">
              <h3 class="modal-fruits-title">Fruits Basket</h3>
              <p class="modal-under-title">Plant</p>
              <img
              srcset="./img/modal-fruits/fruits-plate_mobile.jpg 1x,
              ./img/modal-fruits/fruits-plate_mobile@2x.jpg 2x" 
              src="./img/modal-fruits/fruits-plate_mobile.jpg" 
              alt="fruits"
              >
              <input type="checkbox"
              class="modal-form-choice"
              name="user_choice"
              >
            </label>

            <label class="modal-form-label-box"> 
              <div class="modal-form-field">
                <input 
                class="modal-form-input" 
                type="text" 
                name="user_name" 
                minlength="2"
                placeholder="Enter full name..."
                required 
                />
              </div>
            </label>


            <label class="modal-form-label-box"> 
              <div class="modal-form-field">
                <input 
                class="modal-form-input" 
                type="email" 
                name="user_email"
                placeholder="Enter email..."
                required 
                />
              </div>
            </label>


            <label class="modal-form-label-box">
              <div class="modal-form-field">
                <input 
                class="modal-form-input" 
                type="tel" 
                inputmode="numeric" 
                pattern="[0-9\s]{13,19}"
                name="user_phone"
                placeholder="Enter card.." 
                required />
              </div>
            </label>


            <label class="modal-form-text">
              <textarea 
                class="modal-form-massage" 
                name="user_massage" 
                rows="5" 
                placeholder="Enter comments...">
              </textarea>
            </label>
            
            <button class="order-button" type="submit">Submit</button>

          </form>
      
        </div>
      </div>