.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 174px;
  /* padding-right: 148px;
  padding-bottom: 620px;
  padding-left: 149px; */
  background-color: #ae1332;
  z-index: 999;

  /* transform: translateX(100%); */
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-burger-header {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 16px 20px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  top: 0;
}

.burger-vector-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  line-height: 0;
}

.burger-vector {
  display: flex;
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0;
  /* margin-right: 8px; */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.mobile-header-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #ae1332;
}

.js-modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  /* padding: 0;
  margin: 0; */
  list-style: none;
  margin-bottom: auto;
  gap: 16px;
}

.mobile-menu-items {
  color: #fff;
  text-decoration: none;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  justify-content: center;
}

.mobile-menu-items::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
}

.socials-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.socials-icon {
  fill: #ae1332;
}
