.footer-images {
    display: flex;
    border-radius: 100px;
    margin-bottom: 20px;
    justify-content: center;

}

.container-vector {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

}

@media only screen and (min-width:768px) {
    .container-vector {
        margin-bottom: 80px;
    }
}




.container-icon-vector {
    display: flex;
    width: 16px;
    height: 16px;
    fill: var(--first-color);
    margin-right: 8px;
}


.footer-container-organic {
    background-color: var(--second-color);

}


.footer-title {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;

    width: 132px;
    height: 18px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: var(--first-color);
}


.footer-about-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 44px;
}

.footer-contacts-list {
    font-size: 14px;
    color: var(--first-color);
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.footer-social-list {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.footer-item {
    display: flex;
    align-items: center;

    fill: var(--first-color);
    border: 1px solid var(--first-color);
    border-radius: 10px;

    width: 40px;
    height: 40px;

}

.container-footer-social {

    margin-bottom: 44px;
}


@media only screen and (min-width:768px) {
    .container-footer-social {
        margin-top: 38px;
    }
}


.address-container-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    color: var(--first-color);

}




.address-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    flex-direction: column;
    padding-left: 0;
}

@media only screen and (max-width:1280px) {
    .address-item {
        font-size: 18px;
    }
}

.address-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--first-color);


    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: -0.02em;
}


.container-firsts {
    min-width: 320px;
    max-width: 375px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
    padding-top: 80px;
    /* outline: 2px solid black; */
}

@media only screen and (min-width:768px) {
    .container-firsts {

        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
        gap: 171px;
    }
}


@media only screen and (min-width:1280px) {
    .container-firsts {

        padding-left: 32px;
        padding-right: 32px;
        justify-content: space-between;


    }
}


@media only screen and (min-width:1280px) {
    .container-two {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width:1280px) {
    .wrap-logo-img {
        margin-right: 243px;
    }
}

@media only screen and (min-width:1280px) {
    .wrap-logo-img {
        margin-right: 243px;
    }
}