.page-header {
    background-color: white;
    color: #AE1332;
}
.container-header {
 display: flex;
 align-items: center;
 justify-content: space-between; 
 padding:16px 32px 16px 32px; 
}
.navigation{
 display: flex;
}

.nav-list {
list-style: none;
display: flex;
gap: 20px;
margin-right: 322px;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.29;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .nav-list {
    margin-right: 94px;
  }
}

.description-icon{
 margin-right: 8px;
}
.logo{
 display: flex;
 align-items: center;
 justify-content: flex-end;
 text-transform: uppercase;
}
.basket {
    display: flex;
    flex-direction:row;
    padding-right: 11px;
}
@media screen and (max-width: 767px) {
  .basket {
    display: none;
  }
}
.icon-button,
.icon-menu {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.menu{
   display:none;
}
@media (max-width: 767px) {
  .menu {
    display: block; 
  }
}