/**
  |============================
  | start hero style
  |============================
*/
.hero {
  padding-top: 117px;
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 122px;
    padding-bottom: 137px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    padding-top: 122px;
    padding-bottom: 150px;
  }
}
.hero-container {
  display: block;
  position: relative;
}
.hero-img {
  /* width: 311px;
  height: 484px; */
  object-fit: cover;

  background: linear-gradient(var(--first-color), var(--first-color))
      padding-box,
    linear-gradient(to bottom, var(--first-color) 30%, var(--second-color) 75%)
      border-box;
  border-radius: 50em;
  border: 1px solid transparent;
  padding: 28px 12px;

  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 58px;
}
@media only screen and (max-width: 767px) {
  .hero-img {
    /* width: 452px;
    height: 702px; */
    margin-bottom: 59px;
    padding: 28px 20px;
  }
}

.hero-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

  display: block;
  align-items: center;
  position: absolute;
  top: -40px;
  left: calc(50% - 335px / 2);
  z-index: 200;
}

.hero-title-d-t {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hero-title-d-t {
    display: block;
    font-size: 50px;
    line-height: 1.1;
    left: calc(50% - 704px / 2 - 4px);
  }
  .hero-title-m {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title-d-t {
    display: block;
    font-size: 64px;
    line-height: 1;
    left: 191px;
  }
  .hero-title-m {
    display: none;
  }
}
/* @media only screen and (min-width: 768px) {
  .hero-title {
    left: calc(50% - 704px / 2 - 4px);
    font-size: 50px;
    line-height: 1.1;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-title {
    font-size: 64px;
    line-height: 1;
    left: calc(32% - 704px / 2 - 4px);
  }
} */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.banana-img {
  position: absolute;
  top: 1%;
  left: -10px;
  z-index: 50;
  transform: rotate(14deg);
}

@media only screen and (min-width: 375px) {
  .banana-img {
    top: 9px;
    left: 9px;
  }
}
@media only screen and (min-width: 768px) {
  .banana-img {
    top: 3%;
    left: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .banana-img {
    width: 183px;
    top: 89px;
    left: 20%;
  }
}

.strawberry-img {
  position: absolute;
  top: -35px;
  right: 34px;
  z-index: 50;
}
@media only screen and (min-width: 321px) and (max-width: 374px) {
  .strawberry-img {
    width: 25%;
    top: 0;
    right: 27px;
  }
}
@media only screen and (min-width: 375px) {
  .strawberry-img {
    width: 56px;
    top: -2%;
    right: 27px;
  }
}
@media only screen and (min-width: 768px) {
  .strawberry-img {
    width: 108px;
    top: -55px;
    right: 47px;
  }
}
@media only screen and (min-width: 1280px) {
  .strawberry-img {
    width: 120px;
    top: -60px;
    right: 19%;
  }
}

.hero-btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--first-color);
  background-color: var(--second-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  display: block;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 39%;
  top: 365px;
  z-index: 200;
}
@media only screen and (min-width: 375px) {
  .hero-btn {
    font-size: 28px;
    top: 24%;
    width: 114px;
    height: 114px;
  }
}
@media only screen and (min-width: 768px) {
  .hero-btn {
    top: 34%;
    left: 44%;
  }
}
.btn-text {
  display: block;
  text-align: center;
  width: 55px;
  margin: 14px 16px;
  transform: rotate(-14deg);
}
@media only screen and (min-width: 768px) {
  .btn-text {
    margin: 20px 17px;
  }
}
.hero-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: var(--second-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

  display: block;
  width: 279px;
  margin-left: auto;
  margin-right: auto;
}
.fruit-container-title {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  margin-bottom: 61px;
}
.fruit-box {
  margin-bottom: 2px;
}
.fruit-strawberry-title {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  margin-bottom: 19px;
}
/*
  |============================
  | fruit container style
  |============================
*/
.description-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 44px;
  /* flex-basis: calc(100% - 44px / 2); */
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .description-box {
    flex-basis: calc((100% - 88px / 2));
    gap: 144px;
  }
}

.fruit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 249px;
  padding-top: 28px;
  padding-bottom: 40px;
  border: none;
  border-radius: 500px;
}
.green {
  background-color: var(--fourth-color);
}
.yellow {
  background-color: var(--fifth-color);
}

.fruit-picture-green {
  margin: 0 auto 2px;
}
.fruit-picture-yellow {
  margin: 0 auto 17px;
}
.fruit-container.yellow {
  position: relative;
}
.fruit-container.green {
  position: relative;
}

.fruit-shadow-basket {
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.1;
  filter: blur(13.5914px);

  position: absolute;
  left: 10px;
  top: 60%;
  width: 239px;
  height: 38px;
}

.fruit-shadow {
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.1;
  filter: blur(13.5914px);

  position: absolute;
  left: 5px;
  top: 60%;
  width: 239px;
  height: 38px;
  margin: 0 auto 11px;
}
.fruit-title {
  margin-bottom: 214px;
}
.fruit-text {
  text-align: center;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  width: 155px;
  height: 70px;
  margin: auto;
}
/**
  |============================
  | and hero style
  |============================
*/

.fruit-container {
  display: block;
  text-align: center;

  margin: 0 auto 44px;

  width: 249px;
  height: 387px;
  padding-top: 28px;
  padding-bottom: 40px;
  border: none;
  border-radius: 500px;
}
.titles-fruits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  flex-basis: calc((100% - 8px) / 2);

  margin-bottom: 44px;
}

.product-titel {
  /* display: flex;
  flex-wrap: wrap; */
  /* flex-basis: calc(100% - 44 / 2); */
  justify-content: center;
  gap: 8px;

  margin-bottom: 44px;
}
@media only screen and (min-width: 768px) {
  .product-titel {
    justify-content: flex-end;
  }
}
/*@media only screen and (min-width: 1280px) {
  .product-titel {
    max-width: 256px;
  }
} */
.product-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 32px;
  gap: 8px;

  text-transform: uppercase;

  width: 125px;
  height: 38px;

  left: 55px;
  top: 1299px;

  border: 1px solid #ffffff;
  border-radius: 1000px;
}
@media only screen and (min-width: 768px) {
  .product-item {
    width: max-content;
  }
}

.hero-item-yellow {
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .hero-item-yellow {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-item-yellow {
    /* position: absolute; */
    top: 336px;
    right: 62px;
    display: flex;
    flex-wrap: wrap;
  }
}
