/**
  |============================
  | start hero style
  |============================
*/
.hero {
  /* padding-top: 117px; */
  padding-bottom: 80px;
  /*margin-left: auto;
  margin-right: auto; */

  /* background-image: url(../img/hero-img/main_m335@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 0;
  background-size: 335px 510px; */
}
/* @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../img/hero-img/main_m670@2x.png);
    background-repeat: no-repeat;
    background-position: center;
  }
} */
@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 122px;
    padding-bottom: 137px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero {
    padding-top: 122px;
    padding-bottom: 150px;
  }
}
.hero-container {
  /* display: block; */
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  gap: 79px;
}

.hero-main {
  display: block;
  padding-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 117px;

  background-image: url(../img/hero-img/woman_m_335x510@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 0;
  /* background-size: 335px 510px; */
  background-size: contain;
  width: 100%;
  height: 0;
  padding-top: 152.67%; /* (img-height / img-width * width) */
  /* (742 / 486 * 100) */
  /* https://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size */
}

.hero-main:before,
.hero-main:after {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 43px;
}

.hero-main::before {
  content: url(../img/hero-img/banana_m_86x72@1x.webp);
  padding-top: 98px;
  padding-left: 0;
  /* transform-origin: 0 0;
  transform: rotate(14deg); */
}

.hero-main::after {
  content: url(../img/hero-img/strawberry_m_64x64@1x.webp);
  text-align: right;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-main {
    background-image: url(../img/hero-img/woman_m_670x1020@2x.png);
  }
}

@media only screen and (min-width: 768px) {
  .hero-main {
    background-image: url(../img/hero-img/woman_td_486x742@1x.png);
    padding-top: 742px;
  }

  .hero-main::before,
  .hero-main::after {
    top: 15px;
    right: 25px;
  }
  .hero-main::before {
    content: url(../img/hero-img/banana_t_170x144@1x.webp);
    top: 78px;
    left: -9px;
  }
  .hero-main::after {
    content: url(../img/hero-img/strawberry_t_124x124@1x.webp);
  }
}
@media only screen and (min-width: 1280px) {
  .hero-main {
  }
}

.hero-title {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

  display: block;
  align-items: center;
  position: absolute;
  top: 53px;
  left: calc(52% - 335px / 2);
  z-index: 200;
}

.hero-title-d-t {
  display: none;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .hero-title-d-t {
    display: inline;
    font-size: 50px;
    line-height: 1.1;
    /* left: calc(50% - 704px / 2 - 4px); */
    left: 0;
    top: 86px;
  }
  .hero-title-m {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-title-d-t {
    display: block;
    font-size: 64px;
    line-height: 1;
    left: 191px;
  }
  .hero-title-m {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  padding: 0;
  margin: 0;
  display: inline;
  border: none;
}

/* hero button */
.hero-btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: var(--first-color);
  background-color: var(--second-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  display: block;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 39%;
  top: 365px;
  z-index: 200;

  transition: color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 375px) {
  .hero-btn {
    top: 26%;
  }
}
@media only screen and (min-width: 768px) {
  .hero-btn {
    font-size: 28px;
    width: 114px;
    height: 114px;
    top: 666px;
    left: 43%;
  }
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--fourth-color);
  border: none;
}

.btn-text {
  display: block;
  text-align: center;
  width: 55px;
  margin: 16px 6px;
  transform: rotate(-14deg);
}

@media only screen and (min-width: 768px) {
  .btn-text {
    margin: 20px 17px;
  }
}

.hero-text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: var(--second-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

  display: block;
  width: 279px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
}

.fruit-container-title {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  margin-bottom: 61px;
}
.fruit-box {
  margin-bottom: 2px;
}
.fruit-strawberry-title {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  margin-bottom: 19px;
}
/*
  |============================
  | fruit container style
  |============================
*/

.titles-fruits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 8px;
  flex-basis: calc((100% - 8px) / 2);

  min-width: 267px;
}

@media only screen and (min-width: 768px) {
  .yellow {
    order: -1;
    margin-right: 32px;
  }
  .green {
    margin-left: 32px;
  }
  .titles-fruits {
    justify-content: right;
  }
  .product-item:nth-child(2) {
    width: 133px;
  }
  .product-item:nth-child(3) {
    width: 115px;
  }
  .product-item:nth-child(4) {
    width: 110px;
  }
}

.fruit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 249px;
  padding-top: 28px;
  padding-bottom: 40px;
  border: none;
  border-radius: 500px;
  margin-left: auto;
  margin-right: auto;
}
.green {
  background-color: var(--fourth-color);
  /* margin-bottom: 44px; */
}
.yellow {
  background-color: var(--fifth-color);
}

.fruit-picture-green {
  margin: 0 auto 2px;
}
.fruit-picture-yellow {
  margin: 0 auto 17px;
}
.fruit-container.yellow {
  position: relative;
}
.fruit-container.green {
  position: relative;
}

.fruit-shadow-basket {
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.1;
  filter: blur(13.5914px);

  position: absolute;
  left: 10px;
  top: 60%;
  width: 239px;
  height: 38px;
}

.fruit-shadow {
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.1;
  filter: blur(13.5914px);

  position: absolute;
  left: 5px;
  top: 60%;
  width: 239px;
  height: 38px;
  margin: 0 auto 11px;
}
.fruit-title {
  margin-bottom: 214px;
}
.fruit-text {
  text-align: center;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  width: 155px;
  height: 70px;
  margin: auto;
}
/**
  |============================
  | and hero style
  |============================
*/

.product-titel {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% - 44 / 2);
  justify-content: center;
  gap: 8px;

  margin-bottom: 44px;
}
@media only screen and (min-width: 768px) {
  .product-titel {
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1280px) {
  .product-titel {
    max-width: 256px;
  }
}
.product-item {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  padding: 12px 32px;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  color: var(--second-color);

  width: 125px;
  border: 1px solid #ffffff;
  border-radius: 1000px;
}

.hero-item-yellow {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}
@media only screen and (min-width: 768px) {
  .hero-item-yellow {
    /* display: flex;
    flex-direction: column-reverse; */
    margin-bottom: 0;
    margin-top: 44px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-container {
    flex-wrap: nowrap;
  }
  .green-block {
    order: -1;
    margin-top: 408px;
  }
  .yellow-block {
    margin-top: 408px;
  }
  .hero-btn {
    top: 625px;
    left: 48%;
  }
}

.green-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 279px;
}
@media only screen and (min-width: 768px) {
  .green-block {
    margin-right: 63px;
  }
}
.yellow-block {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 279px;
}
