.title-position {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  margin-bottom: 44px;
}

.how-title {
  width: 335px;
  height: 84px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--second-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .how-title {
    width: 624px;
    font-size: 40px;
    line-height: 1.1;
  }
}

.how-text {
  display: block;
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  color: var(--second-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .how-text {
    max-width: 509px;
  }
}

.how-cards {
  margin-bottom: 44px;
}

@media screen and (min-width: 768px) {
  .how-cards {
    margin-bottom: 80px;
  }
}

.how-cards-list {
  display: flex;
  padding-left: 0;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .how-cards-list {
    flex-direction: column;
  }
}

@media screen and (min-width: 1280px) {
  .how-cards-list {
    justify-content: center;
    gap: 24px;
  }
}

.how-card {
  display: flex;
  align-items: center;
  width: 335px;
  height: 112px;
  background: var(--second-color);
  border-radius: 20px;
  padding: 20px;
  gap: 14px;
}

.first-step {
  padding: 12px 31px;
  width: 136px;
  height: 48px;
  background: #ae1332;
  border-radius: 200px;
  justify-content: center;
}

.second-step {
  padding: 12px 18px;
  width: 136px;
  height: 48px;
  background: #a1c864;
  border-radius: 200px;
  justify-content: center;
}

.third-step {
  padding: 12px 28px;
  width: 136px;
  height: 48px;
  background: #f5ce13;
  border-radius: 200px;
  justify-content: center;
}

.step {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.04em;
  color: var(--second-color);
}

.how-card-text {
  width: 145px;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  letter-spacing: -0.04em;
  color: var(--third-color);
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

.how-gif {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .how-gif {
    width: 100%;
    height: 476px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .how-gif {
    width: 704px;
    height: 476px;
    margin-bottom: 144px;
  }
}

@media screen and (min-width: 1280px) {
  .how-gif {
    width: 860px;
    height: 476px;
    border: 1px solid var(--third-color);
    margin-bottom: 150px;
  }
}
