/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./fruits.css');
@import url('./contacts.css');
@import url('./modalthankyou.css');
@import url('./footer.css');
@import url('./order.css');
@import url('./modal.css');
@import url('./burgermenu.css');





:root {
  /* Colors */

  --first-color: #ae1332;
  --second-color: #ffffff;
  --third-color: #000000;
  --fourth-color: #a4cb66;
  --fifth-color: #f5ce13;

  /* Font */

  --primary-font: 'DM Sans', sans-serif;
}

body {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  background-color: var(--first-color);
  color: var(--second-color);
}

.container {
  min-width: 320px;
  max-width: 375px;

  margin-right: auto;
  margin-left: auto;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;

    padding-left: 33px;
    padding-right: 33px;
  }
}